/* domino  */

.domino{
    border-radius: 2%;
    background: #fff;
}
/*  vertical */
.domino.V {
    width: 200px;
    border: 16px solid #222;
    
    }
.domino.V .top-half { 
   border-bottom: 9px solid #222;
}
.domino.V .bottom-half { 
    border-top: 9px solid #222;
}
.domino.V .dot-container {
    width: 100%;
    height: 190px;
    overflow: hidden;
}

/*   horizontal   */
.domino.H {
    width: 400px;
    border: 16px solid #222;
    border-radius: 2%;
    background: #fff;
}
.domino.H .top-half { 
    border-right: 9px solid #222;
    width: 50%;
    float: left;
    height: 190px;
}
.domino.H .bottom-half { 
    border-left: 9px solid #222;
    height: 190px;
    float: right;
    width: 50%;
}
.domino.H .dot-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*  dot  */
    .dot {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: black;
        border-radius: 50%;
        transition: all .2s ease-out;

    }
    
   /*one*/
    .domino .dot-container.one .dot:nth-child(1) {
        left: 59px;
        top: 70px;
    }
    .domino .dot-container.one .dot:nth-child(2),
    .domino .dot-container.one .dot:nth-child(3),
    .domino .dot-container.one .dot:nth-child(4),
    .domino .dot-container.one .dot:nth-child(5),
    .domino .dot-container.one .dot:nth-child(6){
        visibility: hidden;
    }

    /* two */
    .domino .dot-container.two .dot:nth-child(1) {
        left: 108px;
        top: 10px;
    }
    .domino .dot-container.two .dot:nth-child(2){
        left: 10px;
        top: 80px;
    }

    /* two  horizontal*/
    .domino.H .dot-container.two .dot:nth-child(1) {
        left: 10px;
    }
    .domino.H .dot-container.two .dot:nth-child(2){
        left: 108px;
    }

    .domino .dot-container.two .dot:nth-child(3),
    .domino .dot-container.two .dot:nth-child(4),
    .domino .dot-container.two .dot:nth-child(5),
    .domino .dot-container.two .dot:nth-child(6){
        visibility: hidden;
    }

    /* three */
    .domino .dot-container.three .dot:nth-child(1) {
        left: 108px;
        top: 10px;
    }
    .domino .dot-container.three .dot:nth-child(2){
        left: 59px;
        top: 20px;
    }
    .domino .dot-container.three .dot:nth-child(3){
        left: 10px;
        top: 30px;
    }

    /* three  horizonta*/
    .domino .dot-container.three .dot:nth-child(1) {
        left: 10px;
    }
    .domino .dot-container.three .dot:nth-child(3){
        left: 108px;
    }

    .domino .dot-container.three .dot:nth-child(4),
    .domino .dot-container.three .dot:nth-child(5),
    .domino .dot-container.three .dot:nth-child(6){
        visibility: hidden;
    }

    /* four */
    .domino .dot-container.four .dot:nth-child(1) {
        left: 10px;
        top: 10px;
    }
    .domino .dot-container.four .dot:nth-child(2){
        left: 108px;
        top: -40px;
    }
    .domino .dot-container.four .dot:nth-child(3){
        left: 10px;
        top: 30px;
    }

    .domino .dot-container.four .dot:nth-child(4){
        left: 108px;
        top: -20px;
    }

    .domino .dot-container.four .dot:nth-child(5),
    .domino .dot-container.four .dot:nth-child(6){
        visibility: hidden;
    }

    /* five */
    .domino .dot-container.five .dot:nth-child(1) {
        left: 10px;
        top: 10px;
    }
    .domino .dot-container.five .dot:nth-child(2){
        left: 108px;
        top: -40px;
    }
    .domino .dot-container.five .dot:nth-child(3){
        left: 10px;
        top: 30px;
    }

    .domino .dot-container.five .dot:nth-child(4){
        left: 108px;
        top: -20px;
    }

    .domino .dot-container.five .dot:nth-child(5){
        left: 59px;
        top: -130px;
    }

    .domino .dot-container.five .dot:nth-child(6){
        visibility: hidden;
    }

    /* six */
    .domino .dot-container.six .dot:nth-child(1) {
        left: 10px;
        top: 10px;
    }
    .domino .dot-container.six .dot:nth-child(2){
        left: 108px;
        top: -40px;
    }
    .domino .dot-container.six .dot:nth-child(3){
        left: 10px;
        top: -30px;
    }

    .domino .dot-container.six .dot:nth-child(4){
        left: 108px;
        top: -80px;
    }

    .domino .dot-container.six .dot:nth-child(5){
        left: 10px;
        top: -70px;
    }

    .domino .dot-container.six .dot:nth-child(6){
        left: 108px;
        top: -120px;
    }

    /* six horizontal*/
    .domino.H .dot-container.six .dot:nth-child(1) {
        left: 5px;
        top: 20px;
    }
    .domino.H .dot-container.six .dot:nth-child(2){
        left: 120px;
        top: -30px;
    }
    .domino.H .dot-container.six .dot:nth-child(3){
        left: 62.5px;
        top: -80px;
    }

    .domino.H .dot-container.six .dot:nth-child(4){
        left: 62.5px;
        top: -30px;
    }

    .domino.H .dot-container.six .dot:nth-child(5){
        left: 5px;
        top: -80px;
    }

    .domino.H .dot-container.six .dot:nth-child(6){
        left: 120px;
        top: -130px;
    }


/*##############   domino small  ###########*/
.domino.sm {
    width: 120px;
    border: 8px solid #222;
}


    .domino.sm .top-half { 
        border-bottom: 6px solid #222;
    }
    .domino.sm .bottom-half { 
        border-top: 6px solid #222;
    }
    .domino.sm .dot-container {
        width: 100%;
        height: 100px;
    }
    .domino.sm .dot {
        width: 25px;
        height: 25px;
    }
    
    .domino.sm .top-half .dot-container .dot {
    	float: none;
        margin: 0px 0px;
        
    }

/* horizontal */

.domino.H.sm {
    width: 240px;
    border: 8px solid #222;
}
.domino.H.sm .top-half { 
    border-right: 6px solid #222;
    border-bottom: 0px;
    width: 50%;
    height: 100px;
    float: left;
}
.domino.H.sm .bottom-half { 
    border-left: 6px solid #222;
    border-top: 0px;
    float: right;
    width: 50%;
    height: 100px;
}

    /*one*/
    .domino.sm .dot-container.one .dot:nth-child(1) {
        left: 40px;
        top: 38px;
    }
    .domino.sm .dot-container.one .dot:nth-child(2),
    .domino.sm .dot-container.one .dot:nth-child(3),
    .domino.sm .dot-container.one .dot:nth-child(4),
    .domino.sm .dot-container.one .dot:nth-child(5),
    .domino.sm .dot-container.one .dot:nth-child(6){
        visibility: hidden;
    }

    /* two */
    .domino.sm .dot-container.two .dot:nth-child(1) {
        left: 70px;
        top: 10px;
    }
    .domino.sm .dot-container.two .dot:nth-child(2){
        left: 10px;
        top: 40px;
    }

    .domino.sm .dot-container.two .dot:nth-child(3),
    .domino.sm .dot-container.two .dot:nth-child(4),
    .domino.sm .dot-container.two .dot:nth-child(5),
    .domino.sm .dot-container.two .dot:nth-child(6){
        visibility: hidden;
    }

    /* three */
    .domino.sm .dot-container.three .dot:nth-child(1) {
        left: 70px;
        top: 10px;
    }
    .domino.sm .dot-container.three .dot:nth-child(2){
        left: 40px;
        top: 13px;
    }
    .domino.sm .dot-container.three .dot:nth-child(3){
        left: 10px;
        top: 15px;
    }

    .domino.sm .dot-container.three .dot:nth-child(4),
    .domino.sm .dot-container.three .dot:nth-child(5),
    .domino.sm .dot-container.three .dot:nth-child(6){
        visibility: hidden;
    }

    /* four */
    .domino.sm .dot-container.four .dot:nth-child(1) {
        left: 10px;
        top: 10px;
    }
    .domino.sm .dot-container.four .dot:nth-child(2){
        left: 70px;
        top: -15px;
    }
    .domino.sm .dot-container.four .dot:nth-child(3){
        left: 10px;
        top: 15px;
    }

    .domino.sm .dot-container.four .dot:nth-child(4){
        left: 70px;
        top: -10px;
    }

    .domino.sm .dot-container.four .dot:nth-child(5),
    .domino.sm .dot-container.four .dot:nth-child(6){
        visibility: hidden;
    }

    /* five */
    .domino.sm .dot-container.five .dot:nth-child(1) {
        left: 10px;
        top: 10px;
    }
    .domino.sm .dot-container.five .dot:nth-child(2){
        left: 70px;
        top: -15px;
    }
    .domino.sm .dot-container.five .dot:nth-child(3){
        left: 10px;
        top: 15px;
    }

    .domino.sm .dot-container.five .dot:nth-child(4){
        left: 70px;
        top: -10px;
    }

    .domino.sm .dot-container.five .dot:nth-child(5){
        left: 40px;
        top: -63px;
    }

    .domino.sm .dot-container.five .dot:nth-child(6){
        visibility: hidden;
    }

    /* six */
    .domino.sm .dot-container.six .dot:nth-child(1) {
        left: 10px;
        top: 10px;
    }
    .domino.sm .dot-container.six .dot:nth-child(2){
        left: 70px;
        top: -15px;
    }
    .domino.sm .dot-container.six .dot:nth-child(3){
        left: 10px;
        top: -10px;
    }

    .domino.sm .dot-container.six .dot:nth-child(4){
        left: 70px;
        top: -35px;
    }

    .domino.sm .dot-container.six .dot:nth-child(5){
        left: 10px;
        top: -30px;
    }

    .domino.sm .dot-container.six .dot:nth-child(6){
        left: 70px;
        top: -55px;
    }

/*  efecto de domino oculto  */
.domino.sm.bg-effectL{
    position: absolute;
    top: 30%;
    left: -10%;
}
.domino.sm.bg-effectR{
    position: absolute;
    top: 30%;
    right: 8%;
}


/* end domino */
