:root {
    --border1: 7px;
    --wLineV: 90%;
    --dcolor1: #222;
    --dcolor2: #c6c6cb;
    --dotL: 15px;
    --dotR: 121px;
}
/* domino  */

.domino {
    border-radius: 5%;
    background: #fff;
    border: var(--border1) solid var(--dcolor1);
}
.domino::before {
    content: '';
    position: absolute;
}
.domino::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--dcolor2);
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}
/*  vertical */

.domino.V {
    width: 200px;
}
/*linea central y punto divisor*/

.domino.V::before {
    width: var(--wLineV);
    height: 1px;
    border-bottom: 10px solid var(--dcolor1);
    top: calc(50% - 7px);
    left: calc(50% - calc( var(--wLineV)/2));
}
/*-------------*/

.domino.V .dot-container {
    width: 100%;
    height: 190px;
    overflow: hidden;
}
/*   horizontal   */

.domino.H {
    width: 394px;
}
/*linea central y punto divisor*/

.domino.H::before {
    height: var(--wLineV);
    width: 1px;
    border-left: 10px solid var(--dcolor1);
    left: calc(50% - 5px);
    top: calc(50% - calc( var(--wLineV)/2));
}
/*-------------*/

.domino.H .top-half {
    /*border-right: 9px solid #222;
    */
    width: 50%;
    float: left;
    height: 186px;
}
.domino.H .bottom-half {
    /*border-left: 9px solid #222;
    */
    height: 186px;
    float: right;
    width: 50%;
}
.domino.H .dot-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
/*  dot  */

.dot {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    transition: all .2s ease-out;
}
/*one*/

.domino .dot-container.one .dot:nth-child(1) {
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}
.domino .dot-container.one .dot:nth-child(2), .domino .dot-container.one .dot:nth-child(3), .domino .dot-container.one .dot:nth-child(4), .domino .dot-container.one .dot:nth-child(5), .domino .dot-container.one .dot:nth-child(6) {
    visibility: hidden;
}
/* two */

.domino .dot-container.two .dot:nth-child(1) {
    left: var(--dotR);
    top: 10px;
}
.domino .dot-container.two .dot:nth-child(2) {
    left: var(--dotL);
    top: 80px;
}
/* two  horizontal*/

.domino.H .dot-container.two .dot:nth-child(1) {
    left: 10px;
    top: var(--dotL);
}
.domino.H .dot-container.two .dot:nth-child(2) {
    left: 125px;
    top: calc(var(--dotR) - 50px);
}
.domino .dot-container.two .dot:nth-child(3), .domino .dot-container.two .dot:nth-child(4), .domino .dot-container.two .dot:nth-child(5), .domino .dot-container.two .dot:nth-child(6) {
    visibility: hidden;
}
/* three */

.domino .dot-container.three .dot:nth-child(1) {
    left: var(--dotR);
    top: 10px;
}
.domino .dot-container.three .dot:nth-child(2) {
    left: calc(50% - 25px);
    top: calc(50% - 75px);
}
.domino .dot-container.three .dot:nth-child(3) {
    left: var(--dotL);
    top: 25px;
}
/* three  horizonta*/

.domino.H .dot-container.three .dot:nth-child(1) {
    left: 10px;
    top: var(--dotL);
}
.domino.H .dot-container.three .dot:nth-child(3) {
    left: calc(100% - 60px);
    top: calc(var(--dotR) - 100px);
}
.domino .dot-container.three .dot:nth-child(4), .domino .dot-container.three .dot:nth-child(5), .domino .dot-container.three .dot:nth-child(6) {
    visibility: hidden;
}
/* four */

.domino .dot-container.four .dot:nth-child(1) {
    left: var(--dotL);
    top: 10px;
}
.domino .dot-container.four .dot:nth-child(2) {
    left: var(--dotR);
    top: -40px;
}
.domino .dot-container.four .dot:nth-child(3) {
    left: var(--dotL);
    top: 30px;
}
.domino .dot-container.four .dot:nth-child(4) {
    left: var(--dotR);
    top: -20px;
}
.domino .dot-container.four .dot:nth-child(5), .domino .dot-container.four .dot:nth-child(6) {
    visibility: hidden;
}
/* four horizontal*/

.domino.H .dot-container.four .dot:nth-child(1) {
    left: 10px;
    top: var(--dotL);
}
.domino.H .dot-container.four .dot:nth-child(2) {
    left: calc(100% - 65px);
    top: -35px;
}
.domino.H .dot-container.four .dot:nth-child(3) {
    left: 10px;
    top: calc(100% - 165px);
}
.domino.H .dot-container.four .dot:nth-child(4) {
    left: calc(100% - 65px);
    top: calc(100% - 215px);
}
/* five */

.domino .dot-container.five .dot:nth-child(1) {
    left: var(--dotL);
    top: 10px;
}
.domino .dot-container.five .dot:nth-child(2) {
    left: var(--dotR);
    top: -40px;
}
.domino .dot-container.five .dot:nth-child(3) {
    left: var(--dotL);
    top: 30px;
}
.domino .dot-container.five .dot:nth-child(4) {
    left: var(--dotR);
    top: -20px;
}
.domino .dot-container.five .dot:nth-child(5) {
    left: calc(50% - 25px);
    top: calc(50% - 225px);
}
.domino .dot-container.five .dot:nth-child(6) {
    visibility: hidden;
}
/* five horizontal*/

.domino.H .dot-container.five .dot:nth-child(1) {
    left: var(--dotL);
    top: var(--dotL);
}
.domino.H .dot-container.five .dot:nth-child(2) {
    left: calc(100% - 65px);
    top: calc(0% - 50px + 15px);
}
.domino.H .dot-container.five .dot:nth-child(3) {
    left: var(--dotL);
    top: calc(100% - 150px - 15px);
}
.domino.H .dot-container.five .dot:nth-child(4) {
    left: calc(100% - 65px);
    top: calc(100% - 200px - 15px);
}
/* six */

.domino .dot-container.six .dot:nth-child(1) {
    left: var(--dotL);
    top: 10px;
}
.domino .dot-container.six .dot:nth-child(2) {
    left: var(--dotR);
    top: -40px;
}
.domino .dot-container.six .dot:nth-child(3) {
    left: var(--dotL);
    top: -30px;
}
.domino .dot-container.six .dot:nth-child(4) {
    left: var(--dotR);
    top: -80px;
}
.domino .dot-container.six .dot:nth-child(5) {
    left: var(--dotL);
    top: -70px;
}
.domino .dot-container.six .dot:nth-child(6) {
    left: var(--dotR);
    top: -120px;
}
/* six horizontal*/

.domino.H .dot-container.six .dot:nth-child(1) {
    left: 10px;
    top: 20px;
}
.domino.H .dot-container.six .dot:nth-child(2) {
    left: calc(50% - 27.5px);
    top: -30px;
}
.domino.H .dot-container.six .dot:nth-child(3) {
    left: calc(100% - 65px);
    top: -80px;
}
.domino.H .dot-container.six .dot:nth-child(4) {
    left: 10px;
    top: calc(100% - 200px - 15px);
}
.domino.H .dot-container.six .dot:nth-child(5) {
    left: calc(50% - 27.5px);
    top: calc(100% - 250px - 15px);
}
.domino.H .dot-container.six .dot:nth-child(6) {
    left: calc(100% - 65px);
    top: calc(100% - 300px - 15px);
}
/*##############   domino small  ###########*/

.domino.sm {
    width: 105px;
    border: 4px solid var(--dcolor1);
}
.domino.sm::before {
    width: var(--wLineV);
    height: 1px;
    border-bottom: 5px solid var(--dcolor1);
    top: calc(50% - 3px);
    left: calc(50% - 43.5px);
}
.domino.sm::after {
    width: 15px;
    height: 15px;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
}
/* dot */

.domino.sm .dot-container {
    width: 100%;
    height: 100px;
}
.domino.sm .dot {
    width: 25px;
    height: 25px;
}
.domino.sm .top-half .dot-container .dot {
    float: none;
    margin: 0px 0px;
}
/* horizontal */

.domino.H.sm {
    width: 208px;
    border: 4px solid var(--dcolor1);
}
.domino.H.sm::before {
    height: var(--wLineV);
    width: 0px;
    border-left: 5px solid var(--dcolor1);
    top: calc(50% - 46px);
    left: calc(50% - 2px);
}
.domino.H.sm .top-half {
    width: 50%;
    height: 97px;
    float: left;
}
.domino.H.sm .bottom-half {
    float: right;
    width: 50%;
    height: 97px;
}
/*one*/

.domino.sm .dot-container.one .dot:nth-child(1) {
    left: calc(50% - 12.5px);
    top: calc(50% - 12.5px);
}
.domino.sm .dot-container.one .dot:nth-child(2), .domino.sm .dot-container.one .dot:nth-child(3), .domino.sm .dot-container.one .dot:nth-child(4), .domino.sm .dot-container.one .dot:nth-child(5), .domino.sm .dot-container.one .dot:nth-child(6) {
    visibility: hidden;
}
/* two */

.domino.sm .dot-container.two .dot:nth-child(1) {
    left: calc(100% - 25px - 9px);
    top: 9px;
}
.domino.sm .dot-container.two .dot:nth-child(2) {
    left: 9px;
    top: calc(100% - 50px - 7px);
}
.domino.sm .dot-container.two .dot:nth-child(3), .domino.sm .dot-container.two .dot:nth-child(4), .domino.sm .dot-container.two .dot:nth-child(5), .domino.sm .dot-container.two .dot:nth-child(6) {
    visibility: hidden;
}
/* two horizontal */

.domino.sm.H .dot-container.two .dot:nth-child(1) {
    left: 6px;
    top: 9px;
}
.domino.sm.H .dot-container.two .dot:nth-child(2) {
    left: calc(100% - 25px - 6px);
    top: calc(100% - 50px - 9px);
}
/* three */

.domino.sm .dot-container.three .dot:nth-child(1) {
    left: calc(100% - 25px - 9px);
    top: 6px;
}
.domino.sm .dot-container.three .dot:nth-child(2) {
    left: calc(50% - 12.5px);
    top: calc(50% - 37.5px);
}
.domino.sm .dot-container.three .dot:nth-child(3) {
    left: 9px;
    top: calc(100% - 75px - 7px);
}
.domino.sm .dot-container.three .dot:nth-child(4), .domino.sm .dot-container.three .dot:nth-child(5), .domino.sm .dot-container.three .dot:nth-child(6) {
    visibility: hidden;
}
/* three horizontal*/

.domino.sm.H .dot-container.three .dot:nth-child(1) {
    left: 6px;
    top: 9px;
}
.domino.sm.H .dot-container.three .dot:nth-child(3) {
    left: calc(100% - 25px - 6px);
    top: calc(100% - 75px - 9px);
}
/* four */

.domino.sm .dot-container.four .dot:nth-child(1) {
    left: 9px;
    top: 6px;
}
.domino.sm .dot-container.four .dot:nth-child(2) {
    left: calc(100% - 25px - 9px);
    top: calc(0% - 25px + 6px);
}
.domino.sm .dot-container.four .dot:nth-child(3) {
    left: 9px;
    top: calc(100% - 75px - 7px);
}
.domino.sm .dot-container.four .dot:nth-child(4) {
    left: calc(100% - 25px - 9px);
    top: calc(100% - 100px - 7px);
}
.domino.sm .dot-container.four .dot:nth-child(5), .domino.sm .dot-container.four .dot:nth-child(6) {
    visibility: hidden;
}
/* four horizontal*/

.domino.sm.H .dot-container.four .dot:nth-child(1) {
    left: 6px;
    top: 9px;
}
.domino.sm.H .dot-container.four .dot:nth-child(2) {
    left: calc(100% - 25px - 6px);
    top: calc(0% - 25px + 9px);
}
.domino.sm.H .dot-container.four .dot:nth-child(3) {
    left: 6px;
    top: calc(100% - 75px - 12px);
}
.domino.sm.H .dot-container.four .dot:nth-child(4) {
    left: calc(100% - 25px - 6px);
    top: calc(100% - 100px - 12px);
}
/* five */

.domino.sm .dot-container.five .dot:nth-child(1) {
    left: 9px;
    top: 6px;
}
.domino.sm .dot-container.five .dot:nth-child(2) {
    left: calc(100% - 25px - 9px);
    top: calc(0% - 25px + 6px);
}
.domino.sm .dot-container.five .dot:nth-child(3) {
    left: 9px;
    top: calc(100% - 75px - 7px);
}
.domino.sm .dot-container.five .dot:nth-child(4) {
    left: calc(100% - 25px - 9px);
    top: calc(100% - 100px - 7px);
}
.domino.sm .dot-container.five .dot:nth-child(5) {
    left: calc(50% - 12.5px);
    top: calc(50% - 112.5px);
}
.domino.sm .dot-container.five .dot:nth-child(6) {
    visibility: hidden;
}
/* five horizontal */

.domino.sm.H .dot-container.five .dot:nth-child(1) {
    left: 6px;
    top: 9px;
}
.domino.sm.H .dot-container.five .dot:nth-child(2) {
    left: calc(100% - 25px - 6px);
    top: calc(0% - 25px + 9px);
}
.domino.sm.H .dot-container.five .dot:nth-child(3) {
    left: calc(100% - 25px - 6px);
    top: calc(100% - 75px - 12px);
}
.domino.sm.H .dot-container.five .dot:nth-child(4) {
    left: 6px;
    top: calc(100% - 100px - 12px);
}
/* six */

.domino.sm .dot-container.six .dot:nth-child(1) {
    left: 9px;
    top: 6px;
}
.domino.sm .dot-container.six .dot:nth-child(2) {
    left: calc(100% - 25px - 9px);
    top: calc(0% - 25px + 6px);
}
.domino.sm .dot-container.six .dot:nth-child(3) {
    left: 9px;
    top: calc(50% - 62.5px);
}
.domino.sm .dot-container.six .dot:nth-child(4) {
    left: calc(100% - 25px - 9px);
    top: calc(50% - 87.5px);
}
.domino.sm .dot-container.six .dot:nth-child(5) {
    left: 9px;
    top: calc(100% - 125px - 6px);
}
.domino.sm .dot-container.six .dot:nth-child(6) {
    left: calc(100% - 25px - 9px);
    top: calc(100% - 150px - 6px);
}
/* HORIZONTAL SIX  */

.domino.sm.H .dot-container.six .dot:nth-child(1) {
    left: 6px;
    top: 9px;
}
.domino.sm.H .dot-container.six .dot:nth-child(2) {
    left: calc(100% - 25px - 6px);
    top: calc(0% - 25px + 9px);
}
.domino.sm.H .dot-container.six .dot:nth-child(3) {
    left: calc(50% - 12.5px);
    top: calc(0% - 50px + 9px);
}
.domino.sm.H .dot-container.six .dot:nth-child(4) {
    left: calc(50% - 12.5px);
    top: calc(100% - 100px - 12px);
}
.domino.sm.H .dot-container.six .dot:nth-child(5) {
    left: 6px;
    top: calc(100% - 125px - 12px);
}
.domino.sm.H .dot-container.six .dot:nth-child(6) {
    left: calc(100% - 25px - 6px);
    top: calc(100% - 150px - 12px);
}
/*  efecto de domino oculto  */

.domino.sm.bg-effectL {
    position: absolute;
    top: 30%;
    left: -10%;
}
.domino.sm.bg-effectR {
    position: absolute;
    top: 30%;
    right: 8%;
}
/* end domino */