/* mainheader */

#showcase img{
	max-width: 400px;
	top: 300px;
	position: absolute;
}
/* tokenomic */
#tokenomic .container{
	overflow: hidden !important;
}

#tokenomic .grafico{
	left: 15%;
}

/* team  */

.members-box .mbox{
	height: 380px;
}
